
body {
	position: relative;
	padding-top: 80px;
	
}
 
.navbar {
	background: #FFFFFF;
} 
.navbar-brand{
	font-style: italic;
}

.body{
	background-color: #FFBBBB;
}


.jumbotron {
	background-image: url('../images/Swirl Floral Design Vector Art.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 50%;

	
}

.jumbotron-header{
	font-style: italic;
}





.jumbotron-header{
	text-align: center;
}

.gallery-header{
	text-align: center;
	padding-top:100px;
}




.overview{
	padding-top: 100px;
}

.service-header{
	text-align: center;
	padding-top: 100px;
}

.about-header{
	text-align: center;
	padding-top: 100px;
}

.about-info {
	text-align: center;
}

.bottom-line{
	text-align: center;
	padding-top: 75px;
	padding-bottom: 25px;
}

.container {
	max-width: 1000px;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: #333;
}

.carousel-indicators li {
	border-color: #333;
	background-color: #333;
}
 
 .item{
 	max-width: 250px;
 	max-height: 250px;
 }

.icon-next{
	color: #333;
}

.icon-prev{
	color: #333;
}

.service-list {
	padding-left: 15%;
	padding-right: 15%;

}

