
body {
	position: relative;
	padding-top: 80px;
	background-color: ;
}

.jumbotron-header{
	text-align: center;
}

.gallery-header{
	text-align: center;
}

.service-header{
	text-align: center;
}

.about-header{
	text-align: center;
}

.bottom-line{
	text-align: center;
}

.container {
	max-width: 1000px;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: #333;
}

.carousel-indicators li {
	border-color: #333;
	background-color: #333;
}
 
 .item{
 	max-width: 250px;
 	max-height: 250px;
 }

.service-list {
	padding-left: 15%;
	padding-right: 15%;

}

